body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

input {
  padding: 10px;
  margin: 5px;
  width: 220px;
}

button {
  padding: 10px 15px;
  background-color: #ff6600;
  color: white;
  border: none;
  cursor: pointer;
}

video {
  border-radius: 10px;
  margin-top: 10px;
}
